<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <title>TodoList</title>
</head>
<body>

<h1 style="text-align: center"> ToDo </h1>
<div class="container" style="width:800px; border: 1px solid black; margin-top: 20px ">


    <div class="input-group mb-sm-1" style="padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text">todo</span>
        </div>
        <input type="text" class="form-control"  id="task" placeholder="오늘의 할일">
        <div class="input-group-append">
            <button class="btn btn-success" onclick="getTask()">입략</button>
        </div>
    </div>

    <div class="input-group mb-sm-1" style="width:70%; padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text" for="listoption">정렬</span>
        </div>
        <select class="form-control" id="listoption">
            <option value="default"  >우선순위</option>
            <option value="findate" >완료시간</option>
            <option value="status" >상태</option>
        </select>
        <div style="text-align: right">
            <button  type="button" class="btn btn-success"data-toggle="modal" data-target="#addModal">할일 입력</button>
        </div>
    </div>

    <form id="addTaskform"  action="#" >

        <!-- The Modal -->
        <div class="modal" id="addModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Task를 입력하세요</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="content">Task 내용:</label>
                            <input type="text" class="form-control" id="content">
                        </div>

                        <div class="form-group">
                            <label for="impolevel">우선 순위:</label>
                            <select class="form-control" id="impolevel">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class = "form-group" style="padding-top: 5%;">
                            <label for="findate">완료 날짜: </label>
                                <input type="text" class="form-control" style="width: 30%" id="findate" th:name="findate" readonly>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-success" id="addTaskdata" onclick="addTask()" data-toggle="modal" data-target="#addModal">할일 입력</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </form>


    <div class="container">

        <div class="list-group">
            <div id="tasklist"></div>
        </div>
    </div>

        <div class="form-row" style ="float:right">
            <div class="col">
                <button  type="button" class="btn btn-primary" id="alldelete" name="deleteButton">전체 삭제</button>
            </div>
        </div>



    <form id="updateTaskform"  action="#" >

        <!-- The Modal -->
        <div class="modal" id="updateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Task를 입력하세요</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="content">Task 내용:</label>
                            <input type="text" class="form-control" id="content">
                        </div>

                        <div class="form-group">
                            <label for="impolevel">우선 순위:</label>
                            <select class="form-control" id="impolevel">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>

                        <div class = "form-group" style="padding-top: 5%;">
                            <label for="findate">완료 날짜: </label>
                            <input type="text" class="form-control" style="width: 30%" id="findate" th:name="findate" readonly>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button  type="button" class="btn btn-success" id="updateTaskdata" onclick="updateTask('+list[i].id+')" data-toggle="modal" data-target="#addModal">할일 입력</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </form>



    </form>

</div>

<script>
$(document).ready(function () {getTasks();});

$('select').on('change', function(){
    getTasksByOption();
});

function getTasks() {
    $("#tasklist").empty();
        $.ajax({
            url: "/todo/api/list/default" ,
            type: "GET",
            dataType: "json",

            success: function (list) {
                for (var i = 0; i < list.length; i++) {

                    var tasklist = $('<ul class="list-group">'+
                        '<li class="list-group-item">'+
                            '<a href="javascript:void[0];">'+ list[i].content + '</a>' +
                             '    ' +list[i].impolevel + '순위' +'   목표일:' + list[i].findate +'   상태:' + list[i].currentstatus +
                        ' <button type="button" class="btn btn-success" >완료</button>' +
                            '<button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-warning" >수정</button>' +
                           ' <button type="button"  id="'+list[i].id+'" onclick="delTask('+list[i].id+')" class="btn btn-danger" >삭제</button>' +
                        '</li>'+
                    '</ul>');

                    tasklist.appendTo($('#tasklist'))
                }
            },
            error: function (err) {
                if (err.status === 400) {
                    alert("400");
                } else if (err.status === 500) {
                    alert("500");
                }
            }
        })

}


function getTasksByOption() {

    var listoption = $('#listoption').val();

    console.log(listoption)

    $("#tasklist").empty();
    $.ajax({
        url: "/todo/api/list/" + listoption ,
        type: "GET",
        dataType: "json",

        success: function (list) {

            console.log(listoption)

            for (var i = 0; i < list.length; i++) {

                var tasklist = $('<ul class="list-group">'+
                    '<li class="list-group-item" id="'+list[i].id+'">'+
                    '<a href="javascript:void[0];">'+ list[i].content + '</a>' +
                    '    ' +list[i].impolevel + '순위' +'   목표일:' + list[i].findate + '   상태:' + list[i].currentstatus +
                    '<button type="button" onclick="toggleTask('+list[i].id+')"  class="btn btn-success" >완료</button>' +
                    '<button type="button" data-toggle="modal" data-target="#updateModal" class="btn btn-warning" >수정</button>' +
                    '<button type="button" onclick="delTask('+list[i].id+')"  class="btn btn-danger" >삭제</button>' +
                    '</li>'+
                    '</ul>');

                tasklist.appendTo($('#tasklist'))
            }
        },
        error: function (err) {
            if (err.status === 400) {
                alert("400");
            } else if (err.status === 500) {
                alert("500");
            }
        }
    })

}
</script>





<script>

    var picker = new Pikaday({
        field: document.getElementById('findate'),
        format: 'yy-mm-dd',
        toString(date, format) {
            // you should do formatting based on the passed format,
            // but we will just return 'D/M/YYYY' for simplicity
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            return `${year}-${month}-${day}`;
        },
        parse(dateString, format) {
            const parts = dateString.split('-');
            const day = parseInt(parts[0], 10);
            const month = parseInt(parts[1], 10) - 1;
            const year = parseInt(parts[2], 10);
            return new Date(year, month, day);
        }
    });
</script>

<script>

    function addTask() {

        var taskdata = document.getElementById('addTaskform');
        var content = taskdata.content.value;
        var impolevel = taskdata.impolevel.value;
        var findate = taskdata.findate.value;


        console.log(content)
        console.log(impolevel)
        console.log(findate)

        var data = {
            "content"       : content,
            "impolevel" : impolevel,
            "findate" : findate,
        }
        var jsonData = JSON.stringify(data);

        $.ajax({
            url: "/todo/api/add",
            type: "POST",
            data : jsonData,
            contentType : "application/json",

            success: function (task) {

                console.log(task)
                getTasks();

            },
            error: function (err) {
                if (err.status === 400) {
                    alert("400");
                } else if (err.status === 500) {
                    alert("500");
                }
            }
        })

    }

</script>

<script>

    function delTask(deltaskid) {

        console.log(deltaskid);


        var confirm_val = confirm("정말 삭제하시겠습니까?");
        if (confirm_val) {
            $.ajax({
                url: '/todo/api/' + deltaskid,
                method: 'delete',
                contentType : "application/json",

                success: function (task) {
                    // document.getElementById(deltaskid).remove();

                    getTasks();

                    console.log(task)

                },
                error: function (err) {
                    if (err.status === 400) {
                        alert("400");
                    } else if (err.status === 500) {
                        alert("500");
                    }
                }
            })

        }
    }

</script>

<script>

    function updateTask(deltaskid) {

        console.log(deltaskid);

        var taskdata = document.getElementById('updateTaskform');
        var content = taskdata.content.value;
        var impolevel = taskdata.impolevel.value;
        var findate = taskdata.findate.value;


        console.log(content)
        console.log(impolevel)
        console.log(findate)

        var data = {
            "content"       : content,
            "impolevel" : impolevel,
            "findate" : findate,
        }
        var jsonData = JSON.stringify(data);

        $.ajax({
            url: "/todo/api/add",
            type: "POST",
            data : jsonData,
            contentType : "application/json",

            success: function (task) {

                console.log(task)
                getTasks();

            },
            error: function (err) {
                if (err.status === 400) {
                    alert("400");
                } else if (err.status === 500) {
                    alert("500");
                }
            }
        })

    }

</script>

</body>
</html>