<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>TodoList</title>
</head>
<body>

<h1 style="text-align: center"> ToDo </h1>
<div class="container" style="width:800px; border: 1px solid black; margin-top: 20px ">
    <div class="input-group mb-sm-1" style="padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text">입력</span>
        </div>
        <input type="text" class="form-control"  id="task" placeholder="오늘의 할일">
        <div class="input-group-append">
            <button class="btn btn-success" onclick="getTask()">입략</button>
        </div>
    </div>

    <div class="input-group mb-sm-1" style="width:70%; padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text" for="listoption">정렬</span>
        </div>
        <select class="form-control" id="listoption">
            <option value="default"  >우선순위</option>
            <option value="findate" >완료시간</option>
            <option value="status" >상태</option>
        </select>
    </div>

    <form id="updatetodo"  action="#" >

    <div class="container">

        <div class="list-group">
            <div id="tasklist"></div>
        </div>
    </div>

        <div class="form-row" style ="float:right">
            <div class="col">
                <button  type="button" class="btn btn-primary" id="alldelete" name="deleteButton">전체 삭제</button>
            </div>
        </div>


    </form>

</div>

<script>
$(document).ready(function () {getTasks();});

$('select').on('change', function(){
    getTasksByOption();
});

function getTasks() {

        $.ajax({
            url: "/todo/api/list/default" ,
            type: "GET",
            dataType: "json",

            success: function (list) {
                for (var i = 0; i < list.length; i++) {

                    var tasklist = $('<ul class="list-group">'+
                        '<li class="list-group-item">'+
                            '<a href="javascript:void[0];">'+ list[i].content + '</a>' +
                             '    ' +list[i].impolevel + '순위' +'   목표일:' + list[i].findate +'   상태:' + list[i].currentstatus +
                            '<button type="button" class="btn btn-warning" >수정</button>' +
                           ' <button type="button" class="btn btn-danger" >삭제</button>' +
                        '</li>'+
                    '</ul>');

                    tasklist.appendTo($('#tasklist'))
                }
            },
            error: function (err) {
                if (err.status === 400) {
                    alert("400");
                } else if (err.status === 500) {
                    alert("500");
                }
            }
        })

}


function getTasksByOption() {

    var listoption = $('#listoption').val();

    console.log(listoption)

    $.ajax({
        url: "/todo/api/list/" + listoption ,
        type: "GET",
        dataType: "json",

        success: function (list) {

            console.log(listoption)

            for (var i = 0; i < list.length; i++) {

                var tasklist = $('<ul class="list-group">'+
                    '<li class="list-group-item">'+
                    '<a href="javascript:void[0];">'+ list[i].content + '</a>' +
                    '    ' +list[i].impolevel + '순위' +'   목표일:' + list[i].findate + '   상태:' + list[i].currentstatus +
                    '<button type="button" class="btn btn-warning" >수정</button>' +
                    ' <button type="button" class="btn btn-danger" >삭제</button>' +
                    '</li>'+
                    '</ul>');

                tasklist.appendTo($('#tasklist'))
            }
        },
        error: function (err) {
            if (err.status === 400) {
                alert("400");
            } else if (err.status === 500) {
                alert("500");
            }
        }
    })

}
</script>

</body>
</html>