<!DOCTYPE html>
<html lagn="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>TodoList</title>
</head>
<body>

<h1 style="text-align: center"> ToDo </h1>
<div class="container" style="width:800px; border: 1px solid black; margin-top: 20px ">
    <div class="input-group mb-sm-1" style="padding-top: 10px">
        <div class="input-group-prepend">
            <span class="input-group-text">입력</span>
        </div>
        <input type="text" class="form-control"  id="task" placeholder="오늘의 할일">
        <div class="input-group-append">
            <button class="btn btn-success" onclick="getTask()">입략</button>
        </div>
    </div>

    <form id="updatetodo"  action="#" >

    <div class="list-group" style="margin-bottom: 5%">

        <tr th:if="${#lists.isEmpty(getTasks)}">
            <td colspan="4" style="text-align: center;">할일이 없습니다..</td>
        </tr>

        <tr th:if="${not #lists.isEmpty(getTasks)}" th:attrappend="id=${getTasks.id}" th:each="getTasks : ${getTasks}">
            <td style ="vertical-align: middle;text-align: center;padding-right: 15%; width: 70%"><a  th:href="#" style="color:black;" ><span style=" font-size: large" th:value="${getTasks.id}" th:text="${getTasks.content}">content</span></a></td>
            <td style="vertical-align: middle"><a href="javascript:void[0];" th:onclick= "'javascript:updatecontent('+${getTasks.id}+')'" ><span class ="css-xicon" name="updatecontent" id="updatecontent" th:value="${getTasks.id}" ></span></a></td>
            <td style="vertical-align: middle"><a href="javascript:void[0];" th:onclick= "'javascript:deleteicon('+${getTasks.id}+')'" ><span class ="css-xicon" name="deleteicon" id="deleteiconid" th:value="${getTasks.id}" ></span></a></td>
        </tr>

        <div class="form-row" style ="float:right">
            <div class="col">
                <button  type="button" class="btn btn-primary" id="alldelete" name="deleteButton">전체 삭제</button>
            </div>
        </div>
    </div>

    </form>

</div>

</body>
</html>